In [8]:
# Install requirements

!pip install -r requirements.txt

In [ ]:
from langchain.utilities import SQLDatabase
from langchain_experimental.sql import SQLDatabaseChain
from langchain.llms import GooglePalm

In [71]:
api_key = 'API_KEY' # get this api key from https://makersuite.google.com/

llm = GooglePalm(google_api_key=api_key, temperature=0.1)

In [76]:
llm("Write a me a poem about Pizza")

"Pizza, pizza, oh so tasty,\nWith a crispy crust and gooey cheese.\nI love the way it smells,\nAnd the way it tastes,\nEspecially when it's fresh from the oven.\n\nI like to eat pizza with my friends,\nWe gather around the table and share a pie.\nWe talk and laugh and eat,\nAnd it's a great time.\n\nPizza is the perfect food for any occasion,\nWhether you're having a party or just a casual night in.\nIt's always a good choice,\nAnd it never disappoints.\n\nSo next time you're hungry,\nDon't forget about pizza.\nIt's the perfect food to satisfy your craving.\n\nPizza, pizza, oh so delicious,\nThe best food in the world,\nI love you so!"

In [77]:
poem = llm("Write a sql code get AVG values in a table ")
print(poem)

```sql
SELECT AVG(column_name)
FROM table_name;
```

## Connect Langchain to MySQL DB

In [14]:
db_user = "DB_NAME"
db_password = "DB_PASSWORD"
db_host = "DB_HOST"
db_name = "DB_NAME"
db_port = "DB_PORT"


db = SQLDatabase.from_uri(f"mysql://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")

## Testing

In [16]:
db_chain = SQLDatabaseChain.from_llm(llm, db, verbose=True)
qns1 = db_chain("Give me average sales_qty")

> Entering new SQLDatabaseChain chain...
Give me average sales_qty
SQLQuery:SELECT AVG(sales_qty) FROM transactions
SQLResult: [(Decimal('10.3540'),)]
Answer:10.3540
> Finished chain.

In [17]:
qns2 = db_chain("Whats the best selling product based on sales_qty and sales_amount")

> Entering new SQLDatabaseChain chain...
Whats the best selling product based on sales_qty and sales_amount
SQLQuery:SELECT product_code, SUM(sales_qty) AS total_sales_qty, SUM(sales_amount) AS total_sales_amount FROM transactions GROUP BY product_code ORDER BY total_sales_qty DESC, total_sales_amount DESC LIMIT 1
SQLResult: [("'Prod018'", Decimal('2806'), 6361669.0)]
Answer:Prod018
> Finished chain.

In [18]:
qns3 = db_chain("Whats the Number of rows in each table")

> Entering new SQLDatabaseChain chain...
Whats the Number of rows in each table
SQLQuery:SELECT count(*) FROM customers;
SELECT count(*) FROM date;
SELECT count(*) FROM markets;
SELECT count(*) FROM products;
SELECT count(*) FROM transactions;
SQLResult: [(38,)]
Answer:38
> Finished chain.

In [19]:
qns4 = db_chain("Total sales amount and total sales quantity")

> Entering new SQLDatabaseChain chain...
Total sales amount and total sales quantity
SQLQuery:SELECT SUM(sales_amount), SUM(sales_qty) FROM transactions
SQLResult: [(12882083.0, Decimal('10354'))]
Answer:(12882083.0, 10354)
> Finished chain.

In [20]:
qns5 = db_chain("Number of rows in each table")

> Entering new SQLDatabaseChain chain...
Number of rows in each table
SQLQuery:SELECT count(*) FROM customers;
SELECT count(*) FROM date;
SELECT count(*) FROM markets;
SELECT count(*) FROM products;
SELECT count(*) FROM transactions;
SQLResult: [(38,)]
Answer:38
> Finished chain.